body {
  margin: 1rem;
}

h1 {
  color: #FFA500;
}

.plus {
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}

#title-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reminder-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#check-circle {
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ccc;
  appearance: none;
  cursor: pointer;
  margin-right: 0.5rem;
}

#check-circle:checked {
  background-color: #FFA500;
}

.info-icon {
  font-size: 0.8em;
  cursor: pointer;
  color: gray;
}

#text-field {
  border: 0;
  border-bottom: 1.8px solid #ccc;
}

#text-field:focus {
  outline: none;
}

#detailBox {
  width: 20rem;
  background-color:#DCDCDC;
  border: 1px black;
  opacity: 0.8;
  border-radius: 5px;
  word-wrap: break-word;
}

#detailBox span {
  font-size: 0.8rem;
  /* vertical-align: top; */
  width: 4rem;
  text-align: right;
}

#day-location-section {
  display: flex;
  align-items: flex-start;
}

#day-location {
  margin-left: 1rem;
}

#priority-section, #note-section, #repeat-section {
  display: flex;
  align-items: center;
}

#day-location-section span {
  align-items: top;
}

#priority, #note, #repeat {
  margin-left: 1.2rem;
}

#day-location, #priority {
  align-items: left;
}

#note {
  border: none;
  background-color:#DCDCDC;
}

#note:focus {
  outline: none;
}

.detail-option {
  width: 10rem;
  height: 1.5rem;
  font-size: 0.8rem;
  vertical-align: top;
  /* margin-bottom: 0.5rem; */
}

#detail-done-btn button {
  float: right;
}

